@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #F3F4F6;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}